<div class="container">
	<div class="row">Argumentos de entrada: {{info.argv }}</div>
	<div class="row">Sistema operativo: {{info.platform}}</div>
	<div class="row">Versión de Node JS: {{info.version}}</div>
	<div class="row">Memoría reservada: {{info.memoryUsage}}</div>
	<div class="row">Path de ejecución: {{info.cwd}}</div>
	<div class="row">Process id: {{info.pid}}</div>
	<div class="row">CPUs: {{info.numCPUs}}</div>
</div>